body{
  text-align: center;
  margin:0;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  line-height: 2em;
}
*{
  box-sizing: border-box;
}
section{
  border-top: 2px #39acff solid;
  margin: 48px auto;
  width: 90vw;
  max-width: 1000px;
}
.button{
  background-color: #ffcd36;
  border-radius: 24px;
  display: block;
  padding: 12px;
  margin: 12px;
  color: #000;
  font-weight: bold;
  transition: all .3s;
  text-decoration: none;
  box-shadow: 0 2px 6px 3px rgba(255, 182, 84, 0.2);
}
.button:hover{
  background-color: rgba(255, 211, 25, 0.5);
}
.top{
  background-color: rgb(57, 172, 255);
  color: #fff;
  display: table;
  font-family: "Nico Moji";
  height: 20vh;
  min-height: 240px;
  padding: 48px;
  width: 100%;
}
.top h1{
  margin: 0;
  font-size: 4em;
  display: table-cell;
  vertical-align: middle;
}
